body {
  font-family: sans-serif;
  font-size: 1.5rem;
  background-image: url(../img/orologi.jpg);
  background-size: contain;
  overflow-x: hidden;
}

h1 {
  font-family: fantasy;
}

#container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px black;
  width: 30%;
  height: 60vh;
  margin: 6em auto;
  border-radius: 10px;
  background-color: white;
}

#button-clicker {
  background-color: aquamarine;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
  &:hover {
    scale: 1.1;
  }
}
#refresh {
  background-color: aquamarine;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
  position: absolute;
  bottom: 20%;
  right: 50%;
  transform: translateX(50%);
  display: none;
  &:hover {
    scale: 1.1;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.catchphrase {
  margin: 3rem 0;
  text-align: center;
}

.number {
  margin: 3rem 0;
  text-align: center;
  background-color: blanchedalmond;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  font-size: 3rem;
  font-weight: bold;
}

#gif{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    border-radius: 50%;
    animation: zoom 3s infinite;
    box-shadow: 0 0 300px black;
}

@keyframes zoom {
    0%   { transform: translate(-50%, -50%) scale(1.1); }
    20%  { transform: translate(-50%, -50%) scale(1.7); }
    40%  { transform: translate(-50%, -50%) scale(2.3); }
    60%  { transform: translate(-50%, -50%) scale(3.0); }
    80%  { transform: translate(-50%, -50%) scale(3.6); }
    100% { transform: translate(-50%, -50%) scale(4.2); }
}

#scoreboard {
  position: absolute;
  top: 0;
  left: 0;
}

#score-form {
  position: absolute;
  top: 0;
  right: 0;
}